<div class="card">
    <div class="card-body">
        <h1 class="page-header">Upload File</h1>
        <div class="d-flex justify-content-between">
            <div>
                <input #xmlInput hidden="true" type="file" id="file-input" onclick="this.value=null"
                    (change)="readXMLFile($event)" accept='text/xml' />
                <button mat-flat-button color="primary" (click)="xmlInput.click()">Choose XML File</button>


                <button mat-icon-button color="primary" aria-label="File uploaded successfully." *ngIf="showIcon">
                    <mat-icon>task_alt</mat-icon>
                </button>

                <p *ngIf="errorMessage !== ''" class="text-danger mt-1">{{errorMessage}}</p>
            </div>
            <div *ngIf="appService.catalog.length">
                <button type="button" mat-flat-button color="accent" (click)="getCatalogJSON()">Get Catalog
                    JSON</button>
            </div>
        </div>


        <hr *ngIf="appService.catalog.length" />

        <div class="d-flex justify-content-between fixed-panel" *ngIf="appService.catalog.length">
            <h2 class="section-header">Selected {{selection.selected.length}} rows of {{appService.catalog.length}}
                records.</h2>
            <div>
                <button type="button" mat-flat-button color="primary" (click)="generateForm()"
                    [disabled]="selection.selected.length == 0"
                    [title]="selection.selected.length == 0 ? 'Select atleast one row.' : 'Edit Records'">Update
                    Books</button>
                <button type="button" mat-flat-button color="accent" (click)="addForm()">+ Add
                    Book</button>
            </div>
        </div>
        <div class="table-Container" *ngIf="appService.catalog.length">
            <table mat-table [dataSource]="dataSource" class="table">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Title Column -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Title </th>
                    <td mat-cell *matCellDef="let book"> {{book.title}} </td>
                </ng-container>

                <!-- Author Column -->
                <ng-container matColumnDef="author">
                    <th mat-header-cell *matHeaderCellDef> Author </th>
                    <td mat-cell *matCellDef="let book"> {{book.author.firstname +' '+ book.author.lastname}} </td>
                </ng-container>

                <!-- Publication Column -->
                <ng-container matColumnDef="publication">
                    <th mat-header-cell *matHeaderCellDef> Publication </th>
                    <td mat-cell *matCellDef="let book">
                        <p>Name: {{book.publication.name}}</p>
                        <p>Website: <a href="{{book.publication.website}}"
                                target="_blank">{{book.publication.website}}</a>
                        </p>
                        <p>Email: <a href="mailto:{{book.publication.email}}">{{book.publication.email}}</a></p>
                        <p> Phone: {{book.publication.phone}} </p>
                    </td>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Price </th>
                    <td mat-cell *matCellDef="let book"> {{book.price | currency}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                </tr>
            </table>
        </div>
    </div>
</div>